$main-background: #fff;

$default-font-size: 16px;
$font: "proxima-nova",sans-serif;
$font-heading: "proxima-nova-soft", sans-serif;


$font-monofont: "courier-prime", monospace;


$table-header-background-color: #111aa1;
$table-header-color: #fff;